# docs
alias a='cat ~/.aliases'

# kill hanging ports
alias lsportid='function _lsofport() { lsof -i :$1; }; _lsofport'
alias killp='function _killp() { kill -9 $1; }; _killp'

# codespace setup
alias setup-ccr='cd /workspaces/github && script/setup-codespace-copilot-code-review-agent -w'
alias seed-ccr='cd /workspaces/github && script/enable-copilot-chat'
alias ss='script/server'
alias ssd='script/server --debug'
alias ssw='script/server --skip-ui'
alias ssv='VITE=1 script/server'

# git
lb='git branch --sort=-committerdate'

# Go
alias gofmt='go fmt ./...'

# Error spelunking
alias except="jq '.exception_detail[] | {value, type}' log/exceptions.log"

# Ruby

alias brt='function _brt() { bin/rails test $1; }; _brt'
alias brta='function _brta() { TEST_ALL_FEATURES=1 bin/rails test $1; }; _brta'
