# This is Git's per-user configuration file.
[alias]
  a = add
  b = branch
  c = commit
  cl = clone
  co = checkout
  cob = checkout -b
  cp = cherry-pick
  m = merge
  p = push --follow-tags
  pu = pull
  r = reset
  s = status
